Header set Access-Control-Allow-Origin "*"
Require all granted

SetEnv SITELOADNAME /var/www/vendor/bartonlp/site-class/includes/siteload.php

RewriteEngine on
RewriteRule ^csstest-(.*)\.css$ tracker.php?id=$1&page=csstest [L,QSA]
